/**********ROOT ELEMENTS**********/

:root {
  --backgroundClr: #f2f3eb;
  /* --secondaryBackgroundClr:#7f7f7f; */
  /* --secondaryBackgroundClr:#116e95; */
  --secondaryBackgroundClr: #1a1a1a;
  --backRadient1: #383838d6;
  --backRadient2: #202020d6;
  /* --secondaryBackgroundClr:#383838; */
  --primaryText: #000;
  --secondaryText: #44102f;
  --btns: #383838;
  --btnHover: #727272;
  --btnText: #d1d1f7;
  --btnBackground: #383838;
  --btn-inside: #fff;
  --footer: #4e66fc;
  --input: rgba(43, 34, 88, 10%);
  --timeline: rgba(43, 34, 88, 10%);
  --highlight: #e2b6cd;
  --primaryWhite: #ffffff;

  --transition: 0.2s;
}

[data-theme="dark"] {
  --backgroundClr: /*#000001*/  /*#00041D*/ #1a1a1a; /*change*/
  --secondaryBackgroundClr: #282828ff; /*change*/
  --primaryText: #f2f1f3;
  --secondaryText: #abb5ff;
  --btns: #f2f3eb;
  --btnHover: #727272;
  --btnText: #abb5ff;
  --primaryWhite: #ffffff;
  --footer: /*#4E66FC*/ #00072f;
  --input: /*#211D34*/ #00072f;
  --timeline: #00072f;
  --highlight: #d7408e;
  --btn-inside: #000;
}

* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  /* background: #f2f3eb; */
  background: var(--backgroundClr);
  transition: background var(--transition) cubic-bezier(0.4, 0.4, 0, 1);
}

li {
  list-style: none;
  font-weight: 500;
}
h1 {
  margin: 0;
  color: var(--primaryText);
}
h2 {
  margin: 0;
}
p {
  color: var(--secondaryText);
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  user-select: none;
}

.button {
  color: var(--btn-inside);
  padding: 1rem;
  background-color: var(--btns);
  border-radius: 0.5rem;
  font-size: var(--normalSize);
}

.button:hover {
  background-color: var(--btnHover);
}

.hide {
  display: none !important;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

/* FIXED SOCIAL */
.back-to-top {
  position: fixed;
  right: 3rem;
  padding: 0.3rem 0.4rem 0 0.4rem;
  opacity: 0.8;
  bottom: -20%;
  transition: var(--transition);
}
.back-to-top-show {
  bottom: 5rem;
}
.back-to-top span {
  font-size: 1.5rem;
  color: var(--btn-inside);
  background-color: var(--btns);
  border-radius: 15px;
  padding: 5px;
}

.fixed-social {
  display: flex;
  flex-direction: column;
  bottom: 30%;
  right: -10%;
  height: 12em;
  /* justify-content: space-between; */
  row-gap: 2.2rem;
  position: fixed;
  transition: var(--transition);
}
.fixed-social .iconify {
  color: var(--btns);
  height: 1.5rem;
  width: 1.5rem;
}
.fixed-social .iconify:hover {
  color: var(--btnHover);
}

.fixed-social-show {
  right: 3.5rem;
}
/* FIXED SOCIAL CLOSED */

.whole-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.pre-head {
  height: 20px;
  background: var(--backgroundClr);
  /* background: transparent; */
  z-index: 10;
  width: 100%;
  transition: background var(--transition) cubic-bezier(0.4, 0.4, 0, 1);
}

.head {
  display: flex;
  height: 70px;
  width: 95%;
  justify-content: space-between;
  margin-bottom: 20px;
  z-index: 10;
  /*font-family: "Roboto",sans-serif;*/
  /* background-color: #000; */
  border-radius: 15px;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  /* background: radial-gradient(#2b2b2bd6, #000000d6); */
  /* background: radial-gradient(#2B3A55d6, #000000d6); */
  /* background: #000000d6; */
  background: radial-gradient(#2b2b2be8, #000000d6);
}

.left-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-left: 50px;
  margin-top: 10px;
  height: 50px;
}
.right-head {
  display: flex;
  /* width: 85%; */
  justify-content: center;
  align-items: center;
  /* column-gap: 4%; */
  font-family: "Roboto", sans-serif;
}

.about,
.team,
.domain,
.contact {
  border: none;
  background-color: transparent;
  font-size: 16px;
  /*width: fit-content;*/
  /*overflow: hidden;*/
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: var(--primaryWhite);
}
.right-head ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-block-start: 1em;
}

.right-head li {
  margin-right: 50px;
  color: var(--primaryWhite);
}

.color_mode {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #595959;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  color: var(--primaryWhite);
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  user-select: none;
  /* background-color: #595959; */
}
.color_mode:hover {
  background-color: #595959;
}

/************ COVER OPEN *****************/
.cover {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  margin: 0 60px 0px;
  padding-top: 120px;
  /* margin-top: 200px; */
  /* width: 1180px; */
  max-width: calc(100% - 60px);
}

.cover-content {
  /* display: flex; */
  align-items: flex-start;
  flex: none;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  margin: 0px 40px 0px 0px;
  /* transition-delay: 300ms;
    transition-duration: 1000ms; */
  width: calc(50% - 40px);
  max-width: calc(50% - 40px);
}
.cover-content-heading {
  font-size: 30px;
}

.cover-content-heading div {
  position: relative;
  display: inline-block;
}
.cover-content-heading div::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 40%;
  display: block;
  background-color: var(--highlight);
  z-index: -1;
}

.social-home {
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
  column-gap: 5rem;
}

.social-home .iconify {
  /* margin-left: 4rem; */
  color: var(--btns);
  /* color: #F8FAE4; */
  height: 2rem;
  width: 2rem;
}
.social-home .iconify:hover {
  color: var(--btnHover);
}

/* .number-whole {
  display: flex;
  width: 70%;
  column-gap: 5rem;
  margin-top: 5rem;
}
.memb-num,
.core-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #2c2c2c;
  background-color: var(--btnBackground);
  color: var(--btnText);
  border-radius: 3rem;
  padding: 1rem;
  width: 100%;
}

.memb-num h1,
.core-num h1 {
  color: var(--btnText);
} */

.number-whole {
  display: flex;
  width: 70%;
  column-gap: 5rem;
  margin-top: 5rem;
}

.number-div header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primaryText);
  margin-bottom: 1rem;
}

.number-div hr {
  flex: 1;
  border: 0;
  height: 2px;
  background-color: var(--primaryText);
}

.number-div p {
  color: var(--primaryText);
  font-size: 16px;
}

.number-div span {
  text-decoration: underline;
  font-weight: bold;
}

.cover-collage {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

/* .cover-collage img {
  transition: .2s;
}

.cover-collage img:hover {
  box-shadow: 0 50px 50px -25px rgb(0 0 0 / 30%);
  transform: rotate(-2deg) scale(1.03);transform: rotate(10deg) scale(1.1);
} */

.left-collage {
  width: 50%;
  margin-top: 120px;
}
.left-collage img {
  height: 15rem;
  border-radius: 15px;
  margin-bottom: 20px;
}
.right-collage img {
  height: 15rem;
  border-radius: 15px;
  margin-bottom: 20px;
}

/************ COVER CLOSED *****************/

/************ ABOUT OPEN ******************/
.about-whole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 4rem 0;
  row-gap: 2rem;
}
.about-info {
  display: flex;
  max-width: 85%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* background-color: rgb(153, 153, 153); */
  padding: 2rem;
  column-gap: 5rem;
}

.about-info-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* background-color: var(--secondaryBackgroundClr); */
  /* background: radial-gradient(var(--backRadient1), var(--backRadient2)); */
  padding: 1.5rem;
  border-radius: 20px;
}
.about-info-img img {
  height: 30rem;
  width: 35rem;
  object-fit: cover;
  border-radius: 20px;
}

.about-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.about-info-content h1 {
  font-size: 3rem;
}
.about-info-content p {
  font-size: 1.5rem;
}

.about-quote {
  text-align: center;
}
.about-work-whole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-work {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-top: 3rem;
  background-color: var(--secondaryBackgroundClr);
  backdrop-filter: blur(10px);
  /* background: radial-gradient(var(--backRadient1), var(--backRadient2)); */
  padding: 2rem;
  border-radius: 15px;
}

.about-card {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}
.about-card img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}
.classes-content {
  text-align: center;
}
.classes-content h1 {
  color: var(--btnText);
}
.classes-content p {
  color: var(--primaryWhite);
}
/************ ABOUT CLOSED ******************/
